<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All Orders</h1>
        <% if(messages.success) { %>
        <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py3"
            role="alert">
            <p><%= messages.success %> </p>
        </div>
        <% } %>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-4 text-left">Orders</th>
                    <th class="px-4 py-4 text-left">Phone No.</th>
                    <th class="px-4 py-4 text-left">Adress</th>
                    <th class="px-4 py-4 text-left">Time</th>
                </tr>
            </thead>
            <tbody>
                <% if(orders.length) { %>
                <% orders.forEach((order)=>{  %>
                <tr>
                    <td class="border px-4 py-2">
                        <a class="link" href="/customer/orders/<%= order._id %>"><%= order._id %> </a>
                    </td>
                    <td class="border px-4 py-2">
                        <%= order.phone %>
                    </td>
                    <td class="border px-4 py-2">
                        <%= order.address %>
                    </td>
                    <td class="border px-4 py-2">
                        <%= moment(order.createdAt).format('hh:mm A') %>
                    </td>
                </tr>
                <% }) %>

                <% } else { %>
                <tr>
                    <td class="p-4">
                        <span> No order found!!</span>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section>